[Desktop Entry]
Type=Application
Name=MeloASR
Comment=Start MeloASR when signing in
Comment[zh_CN]=登录桌面后启动 MeloASR
Exec=meloasr --autostart
Icon=meloasr
Terminal=false
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
NoDisplay=true

